Source: debs
Maintainer: Andrew Stone <a@stoney.io>
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python-Version: >= 3.4
Build-Depends:
	debhelper (>= 9),
	dh-exec,
	python3-nose,
	python3,
	dh-python | python-support,

Package: debs
Architecture: any
Depends:
	${misc:Depends},
	${python3:Depends},
	cryptsetup,
	sudo,
Recommends:
	bash-completion
Description: For building your .debs
	Automates building .deb files locally for a bunch of different
	environments and pushing them to a remote repo with dput. Also has support
	for managing sbuild environments.
