Source: vault
Maintainer: Andrew Stone <a@stoney.io>
Section: utils
Priority: optional
Standards-Version: 3.9.6
X-Python-Version: >= 2.8
X-Python3-Version: >= 3.4
Build-Depends:
	cryptsetup,
	debhelper (>= 9),
	dh-exec,
	dh-python,
	python-all,
	python3-all,
	python3-coverage,
	python3-nose,
	python3-setuptools,
	sudo,

Package: vault
Architecture: all
Depends:
	${misc:Depends},
	${python3:Depends},
	python3-vault (=${binary:Version}),
Recommends:
	bash-completion
Description:
	Securely store stuff

Package: python3-vault
Architecture: all
Depends:
	${misc:Depends},
	${python3:Depends},
	cryptsetup,
Recommends:
	bash-completion
Description:
	Securely store stuff
