#!/usr/bin/make -f

MANPAGES = $(patsubst %.txt, %, $(wildcard man/*.txt))

%:
	dh $@ --with python3 --buildsystem=pybuild --parallel

override_dh_auto_clean:
	python3 setup.py clean
	py3clean .

override_dh_auto_test:
	[ -n "$$SCHROOT_UID" ] && \
		mount -t devtmpfs devtmpfs /dev && \
		mount -t devpts devpts /dev/pts
	[ ! -f /etc/mtab ] && ln -sf /proc/mounts /etc/mtab
	nosetests3 -v

override_dh_auto_install:
	python3 setup.py install --root=$(DESTDIR) --install-layout=deb

override_dh_installman: $(MANPAGES)
	dh_installman

$(MANPAGES): % : %.txt
	a2x -v --format manpage $<
